img {
  width: 100vw;
}

article {
  padding: 0 1rem;
  > .subtitle {
    font-size: small;
    font-weight: normal;
    color: gray;
  }
  > .content {
    > p {
      text-indent: 2rem;
    }
  }
}

.split {
  margin: 0 0.5rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
