@import "~@iinfinity/theme/index.scss";
@import "~remixicon/fonts/remixicon.css";

body {
  min-height: 100vh;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .wave {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 10rem;
    background-color: $color-blue-light;
    overflow: hidden;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      background-color: #fafafa;
      min-width: 350rem;
      min-height: 350rem;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    &::before {
      right: 0;
      bottom: -1rem;
      opacity: 1;
      border-radius: 48%;
      animation-duration: 20s;
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
