<div id="window">

  <!-- <h1 class="title" [@title]="animation.title.state" (@title.done)="animation.title.callback()">{{ app.title }}</h1> -->
  <h1 class="title">{{ app.name }}</h1>

  <p class="desc">{{ desc }}</p>

  <div class="link">
    <!-- <a mat-button href="https://github.com/DevinDon/app-template" target="_blank">
      <mat-icon class="remixicon-github-line"></mat-icon>GitHub
    </a>
    <a mat-button href="https://angular.io" target="_blank">
      <mat-icon class="remixicon-angularjs-line"></mat-icon>Angular
    </a>
    <a mat-button href="https://github.com/DevinDon/rester" target="_blank">
      <mat-icon class="remixicon-server-line"></mat-icon>Rester
    </a> -->
    <a mat-button [routerLink]="[ '/nav' ]">
      <mat-icon class="remixicon-github-line"></mat-icon>导航
    </a>
  </div>

  <section class="outlet">
    <router-outlet></router-outlet>
  </section>

</div>
