.mat-sidenav-container {
  min-width: 100vw;
  min-height: 100vh;
  .mat-sidenav {
    min-height: 100vh;
    box-shadow: -2px 0px 15px -8px rgba(0, 0, 0, 0.3);
    border-right: none;
    border-left: none;
  }
  .mat-sidenav-content {
    min-width: 100vw;
    min-height: 100vh;
  }
}

#content {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
}
