<div class="card" *ngFor="let content of contents; index as i; trackBy: trackByFn">

  <section class="header">
    <img class="picture" src="assets/head-1.png" [alt]="content.author">
    <section class="text">
      <h3 class="title">{{ content.title }}</h3>
      <h4 class="subtitle">
        <span class="author">{{ content.author }}</span>
        <span class="split">|</span>
        <span class="date">{{ content.date | date:"yy-MM-dd" }}</span>
      </h4>
    </section>
  </section>

  <section class="content" (click)="openDetail(content)">
    <ng-container *ngIf="content.image">
      <img class="image" [src]="content.image" [alt]="content.title">
    </ng-container>
    <p class="summary">{{ content.summary }}</p>
  </section>

  <section class="footer">
    <div class="action">
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
        <span class="split"></span>
        <span>{{ 90 + i * 10 }}</span>
      </button>
      <button mat-button>
        <mat-icon>comment</mat-icon>
        <span class="split"></span>
        <span>5</span>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
        <span class="split"></span>
        <span>15</span>
      </button>
    </div>
  </section>

</div>
