#nav {
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > ul {
    > li {
      margin: 0.5rem 0;
      > a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 3rem;
        .mat-icon {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .wave {
    width: 25rem;
  }
  #nav {
    box-shadow: -8px -6px 12px -5px rgba(0, 0, 0, 0.3);
    width: 25rem;
    > ul > li > a {
      width: 25rem;
    }
  }
}
